$primiry-white: #fff;
$primiry-black: #0f0c27;
$primiry-purple: #312783;
$primiry-pink: #a71680;
$secondary-grey9: #27243d;
$secondary-grey8: #3f3d52;
$secondary-grey7: #575568;
$secondary-grey6: #6f6d7d;
$secondary-grey5: #878593;
$secondary-grey4: #9f9ea9;
$secondary-grey3: #b7b6be;
$secondary-grey2: #cfced4;
$secondary-grey1: #e7e7e9;
$additional-pink: #b94599;
$additional-purple: #6e529c;
$additional-grayslate: #6b7c8d;
$additional-darkpurple: #241d60;
$additional-red: #ff5221;
$additional-orange: #ec994d;
$additional-yellov: #f4be22;
$additional-gren: #84c065;
$additional-lightblue: #6dd5f3;
$additional-blue: #5b7bbb;
$disabled-lightpurple: #c1beda;
$disabled-lightpink: #dca2cc;